.grid-tile{
    border: 1px solid black;
    height: 30px;
    width : 30px;
    
}

.main-div{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: max-content;
    height: max-content;
}

h1, h3{
    text-align: center;
}